body {
  font-family: 'Roboto Thin', 'Roboto', sans-serif;
  font-weight: 200;
}

button {
  cursor: pointer;
}

input {
  margin: 1em;
  border: solid 2px orange;
  padding: 1em;
  min-width: 200px;
  outline: 0;
}

input:focus {
  background-color: #ffdeb7;
}

input:hover {
  background-color: #ffdeb7;
}

span.cmd-status-success {
  font-size: 32px;
  color: green;
}

span.cmd-status-failure {
  font-size: 32px;
  color: red;
}

img.loading {
  height: 30px;
  border-radius: 25px;
  background-color: magenta;
}

.topbar > img {
  vertical-align: center;
}

.main {
  text-align: center;
  margin: auto;
}

.container {  
  margin: auto;
  vertical-align: top;
}

.topbar {
  background-color: white;
  text-align: center;
  margin-bottom: -2px;
}

.btn {
  padding: 1em;
  display: inline-block;
  background-color: white;
  border: solid 2px turquoise;
  min-width: 100px;
  max-width: 300px;
  margin: 1em;
  cursor: pointer;
  border-radius: 25px;
  outline: 0;
  color: darkcyan;
  font-size: 12px;
}

.btn:active {
  background-color: turquoise !important;
}

.btn:hover {
  background-color: lightcyan;
}

.content {
  text-align: center;
  justify-content: center;
  background-color: white;
  display: inline-flex;
  
  width: 100%;
  min-height: 94vh;
  max-height: 9000px;
  
  overflow: none;
}

.add-radio {
  width: 200px;
  border-color: lightblue;
  cursor: pointer;
}

.import {
  width: 200px;
  border-color: plum;
}

.import:hover {
  background-color: lightpink;
}

.import:active {
    background-color: plum !important;
}

.export {
  width: 200px;
  border-color: palevioletred;
}

.export:hover {
  border-color: lightpink;
}

.export:active {
  border-color: palevioletred !important;
}

.config-option {
  width: 300px;
}

.fire-cmd {
  width: 60%;
  border-color: #f74f5d;
  display: inline-block;
  margin: 1em;
}

.fire-cmd:hover {
  background-color: #ffb2b2;
}

.fire-cmd:active {
  background-color: #f74f5d !important;
}

.delete-cmd {
  border-color: mediumpurple;
}

.delete-cmd:hover {
  border-color: rgb(193, 165, 250);
}

.delete-cmd:active {
  border-color: mediumpurple !important;
}

.radio {
  padding: 0.5em;
  background-color: white;
  vertical-align: top;
  border: solid 2px lightgray;
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  margin: 1em;
}

.display-radios > .radio {
  display: inline-block;
}

.radio-cmd {
  width: 100%;
  display: inline-block;
  background-color: white;
  border: solid 2px lightgrey;
  border-radius: 15px !important;
  margin-top: 0.4em;
  margin-left: -1px;
  border-radius: 25px;
}
