body {
  font-family: sans-serif;
  font-weight: 200;
}

button {
  cursor: pointer;
}

input {
  margin: 1em;
  border: solid 2px orange;
  padding: 1em;
  min-width: 200px;
}

span.cmd-status-success {
  font-size: 32px;
  color: green;
}

span.cmd-status-failure {
  font-size: 32px;
  color: red;
}

img.loading {
  height: 30px;
  border-radius: 25px;
  background-color: magenta;
}

.topbar > img {
  vertical-align: center;
}

.main {
  text-align: center;
  margin: auto;
}

.container {  
  margin: auto;
  vertical-align: top;
}

.topbar {
  background-color: white;
  text-align: center;
  margin-bottom: -2px;
}

.btn {
  padding: 1em;
  display: inline-block;
  background-color: white;
  border: solid 2px turquoise;
  min-width: 100px;
  max-width: 300px;
  margin: 1em;
  border-radius: 25px;
  outline: 0;
  color: darkcyan;
  font-size: 12px;
}

.btn > a {
  color: black;
}

.content {
  text-align: center;
  justify-content: center;
  background-color: white;
  display: inline-flex;
  
  width: 100%;
  min-height: 94vh;
  max-height: 9000px;
  
  overflow: none;
}

.add-radio {
  width: 200px;
  border-color: lightblue;
}

.import {
  width: 200px;
  border-color: plum;
}

.export {
  width: 200px;
  border-color: palevioletred;
}

.export > a {
  text-decoration: none;
}

.save-radio {
  width: 200px;
  border-color: lightseagreen;
}

.config-option {
  width: 300px;
}

.fire-cmd {
  width: 60%;
  border-color: #f74f5d;
  display: inline-block;
  margin: 1em;
}

.delete-cmd {
  border-color: mediumpurple;
}

.radio {
  padding: 1em;
  background-color: cornsilk;
  border: solid 1px lightgray;
  border-radius: 25px;
  width: 400px;
  margin: 1em;

  -webkit-box-shadow: 0 8px 6px -6px grey;
	-moz-box-shadow: 0 8px 6px -6px grey;
	box-shadow: 0px 8px 8px -6px grey;
}

.display-radios > .radio {
  display: inline-block;
}

.add-cmd-to-radio {
  border-color: lightgrey;
}

.radio-cmd {
  width: 100%;
  display: inline-block;
  background-color: white;
  margin-top: 1em;

  border-radius: 25px;

  -webkit-box-shadow: 0 8px 6px -6px grey;
	-moz-box-shadow: 0 8px 6px -6px grey;
	box-shadow: 0px 8px 8px -6px grey;
}

.save-new-cmd-to-radio {
  border-color: lightgreen;
}

.show-json {
  padding: 3em;
}

.import-file {
  border: none;
  width: 0;
  border-radius: 25px;
  background-color: lightblue;
}
